version: '3.7'

services:
  node:
    build:
      context: .
      dockerfile: Dockerfile-node
    restart: always
    container_name: node
    environment:
      BOT_TOKEN: ${PRE_BOT_TOKEN}
      SERVER_ID: ${PRE_SERVER_ID}
      MONGODB_URL: ${PRE_MONGODB_URL}
      GOOGLE_MAPS_API_KEY: ${PRE_GOOGLE_MAPS_API_KEY}
      LAVALINK_PASSWORD: ${PRE_LAVALINK_PASSWORD}
      LAVALINK_HOST: lavalink
    volumes:
      - ./:/server
    networks:
      dcbot:
    depends_on:
      - mongodb
      - lavalink

  mongodb:
    image: mongo
    restart: always
    container_name: mongodb
    ports:
      - 25535:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: ${PRE_MONGODB_PASSWORD}
    command: mongod --logpath=/dev/null
    volumes:
      - /var/mongodb-data/:/data/db
    networks:
      dcbot:
  lavalink:
    build:
      context: .
      dockerfile: Dockerfile-lava
    #restart: always
    container_name: lavalink
    environment:
      LAVALINK_PASSWORD: ${PRE_LAVALINK_PASSWORD}
    volumes:
      - .lavalink/:/server
    networks:
      dcbot:

networks:
  dcbot:
    driver: bridge
